{% extends 'questify_app/layout/base.html' %}

{% load static %}

{% block page_css %}
  <link rel="stylesheet" href="{% static 'css/userprofile.css' %}">
  <link rel="stylesheet" href="{% static 'css/detailtransaksi.css' %}">
{% endblock %}

{% block title %}Detail Transaksi{% endblock %}

{% block content %}
<main class="container mt-5 px-5">
    <div class="row justify-content-center">
      <div class="col-md-12 mb-5">
        <section class="card" style="margin-top: 100px">
          <div class="card-body">
            <section>
                <ul class="nav nav-tabs justify-content-between align-items-center" style="background-color: #9575cd; padding: 10px; border-radius: 10px;">
                    <li class="nav-item">
                        <a class="nav-link text-white {% if request.resolver_match.url_name == 'userprofile' %}active{% endif %}" href="{% url 'questify_app:userprofile' %}" style="font-weight: bold">Profile</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-white {% if request.resolver_match.url_name == 'detailtransaksi' %}active{% endif %}" href="{% url 'questify_app:daftartransaksi' %}" style="font-weight: bold">Daftar Transaksi</a>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#" style="font-weight: bold">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                    </li>
                </ul>
              </section>

            <section>
              <div class="card-body">
                <div class="section-header">Detail Transaksi</div>
                <div class="row mt-4">
                  <!-- Left Side: Program Details -->
                  <div class="col-md-5">
                    <div class="program-container">
                      <p class="program-provider">
                        Penyedia Program:
                        <span style="font-weight: bold">Questify</span>
                      </p>
                      <div class="program">
                        <div class="program-title"><b>KELAS BASIC</b></div>
                        <p class="program-price"><b>Rp. 50.000</b></p>
                      </div>
                    </div>
                  </div>

                  <!-- Right Side: Transaction Details -->
                  <div class="col-md-7 mt-3">
                    <div class="details">
                      <table class="table">
                        <tr>
                          <td>No Rekening Tujuan:</td>
                          <td>
                            <img
                              src="{% static 'images/bri.png' %}"
                              alt="Logo BRI"
                              class="bank-logo"
                              style="margin: 5px 0; width: 40px"
                            />
                            12837748949473<br />
                            A.n.: Budi Budiman<br />
                            BANK BRI
                          </td>
                        </tr>
                        <tr>
                          <td>Tanggal Pembelian:</td>
                          <td>24 September 2024, 08:00 WIB</td>
                        </tr>
                        <tr>
                          <td>Tanggal Pembayaran:</td>
                          <td>24 September 2024, 08:20 WIB</td>
                        </tr>
                        <tr>
                          <td>Status Pembayaran:</td>
                          <td class="status-success">Berhasil</td>
                        </tr>

                        <tr>
                          <td>Metode Pembayaran:</td>
                          <td>
                            <b>Transfer Bank</b><br />
                            <img
                              src="{% static 'images/bri.png' %}"
                              alt="Logo BRI"
                              class="bank-logo"
                              style="margin: 5px 0; width: 40px"
                            /><br />
                            BANK BRI<br />
                            Sumber Dana: 67282828399<br />
                            A.n.: Putri
                          </td>
                        </tr>

                        <tr>
                          <td>Detail Pembayaran:</td>
                          <td>
                            <table
                              style="width: 100%; border-collapse: collapse"
                            >
                              <tr>
                                <td>Kelas Basic:</td>
                                <td style="text-align: right">Rp. 50.000</td>
                              </tr>
                              <tr>
                                <td>Biaya Transfer:</td>
                                <td style="text-align: right">Rp. 6.500</td>
                              </tr>
                            </table>
                          </td>
                        </tr>

                        <tr>
                          <td><strong>Total Pembayaran:</strong></td>
                          <td style="text-align: right">
                            <strong>Rp. 56.500</strong>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </section>
      </div>
    </div>
  </main>
{% endblock %}
