{% extends 'questify_app/layout/base.html' %}
{% load static %}

{% block title %}Hasil Nilai{% endblock %}

{% block content %}
<main class="container content-main mt-5 pt-5 px-5">
  <div class="row justify-content-center">
    <div class="col-md-12 text-center mb-4">
      <h2 class="fw-bold" style="color: #111112;">Hasil Nilai Kelas Kamu🌟📚</h2>
      <p class="text-muted">Yay! 🎉 di bawah ini hasil nilai kamu dari kelas yang telah kamu ikuti! Kamu bisa melihat detail setiap soal yang telah kamu kerjakan. Ayo, cek dan lihat bagaimana kamu melakukannya!</p>
      <hr class="my-4">
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table custom-table mt-2">
          <thead>
            <tr>
              <th>Kelas</th>
              <th>Modul Pembelajaran</th>
              <th>Total Soal</th>
              <th>Benar</th>
              <th>Salah</th>
              <th><span class="icon">&#128197;</span></th>
              <th><span class="icon">&#128278;</span></th>
            </tr>
          </thead>
          <tbody id="dataRows">
            {% for result in hasil_data %}
            <tr>
              <td>{{ result.modul.kelas.nama_kelas }}</td>
              <td>{{ result.modul.judul }}</td>
              <td>{{ result.total_soal }}</td>
              <td>{{ result.benar }}</td>
              <td>{{ result.salah }}</td>
              <td>{{ result.tanggal|date:"d F Y" }}</td>
              <td>
                <a href="{% url 'questify_app:review' percobaan_ke=result.percobaan_ke modul_id=result.modul.id %}" class="review-link">
                  Review
                </a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="7" class="text-center">Anda belum mengikuti ujian untuk modul manapun.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- Pagination -->
      <nav aria-label="...">
        <ul class="pagination pagination-sm mt-2 justify-content-end" id="pagination">
          <li class="page-item disabled" id="prev-page">
            <a class="page-link" href="#" tabindex="-1">Sebelumnya</a>
          </li>
          <li class="page-item" id="next-page">
            <a class="page-link" href="#">Selanjutnya</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</main>
{% endblock %}

{% block page_js %}
  <script src="{% static 'js/hasilnilai.js' %}"></script>
{% endblock %}
