{% extends 'questify_app/layout/base.html' %} 
{% load static %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %}

{% block title %}
Home
{% endblock %}


{% block content %}
<main class="container-fluid mt-2">
    <div class="container-fluid py-5 position-relative">
        <img src="{% static 'images/trophy.png' %}" alt="Trophy" class="img-fluid d-none d-md-block position-absolute trophy-img">
        <div class="mt-5 mb-5 p-5 rounded-3 position-relative shadow-sm" style="background: linear-gradient(270deg, #EE9AE5 0%, #5961F9 100%); min-height: 50vh; opacity: 0.8;">
            <div class="mt-5">
                <img src="{% static 'images/avatarboy.png' %}" alt="avatar" class="img-fluid d-none d-md-block position-absolute avatar-img">
            </div>
            <div class="p-3 mb-3">
                <h1 class="fs-1 text-white text-start"><strong>Halo,</strong></h1>
                <h2 class="fs-2 text-white text-start"><strong>{{ user.username }}</strong></h2>
                <div class="p-2 mt-3">
                    <h1 class="fs-1 text-white fw-bold">
                        <span class="badge bg-warning rounded-pill">Total skor kamu : 100</span>
                    </h1>
                </div>
            </div>
        </div>        

        <!-- Cards Section -->
        <div class="row mt-5">
            <!-- Card 1 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100 text-dark border-0 shadow-sm">
                    <div class="card-body shadow-lg">
                        <div class="d-flex align-items-start mt-2">
                            <i class="fa-solid fa-square-poll-horizontal me-2"></i>
                            <h3 class="card-title fs-5 fw-bold mb-4">Aktivitas Kelas</h3>
                        </div>                        
                        <!-- Progress Bar 1 -->
                        <div class="mb-3 fw-bold">
                            <span class="d-block text-start" style="color: rgb(7, 7, 100);" >Materi A</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="d-block text-end">100%</span>
                        </div>
                        
                        <!-- Progress Bar 2 -->
                        <div class="mb-3 fw-bold">
                            <span class="d-block text-start" style="color: rgb(7, 7, 100);" >Materi B</span>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="d-block text-end">90%</span>
                        </div>
                        
                        <!-- Progress Bar 3 -->
                        <div class="mb-3 fw-bold">
                            <span class="d-block text-start" style="color: rgb(7, 7, 100);" >Materi C</span>
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="d-block text-end">80%</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100 text-dark border-0 shadow-sm">
                    <div class="card-body shadow-lg">
                        <div class="d-flex align-items-start mt-2">
                            <i class="fa-solid fa-chart-line me-2"></i>
                            <h3 class="card-title fs-5 fw-bold mb-4">Statistik</h3>
                        </div>
            
                        <div class="mb-3 fw-bold text-center">
                            <span style="color: rgb(7, 7, 100);">Total Kelas Terselesaikan</span>
                            <h2 class="fw-bold" style="font-size: 2rem; color: #FF9F00;">7</h2>
                        </div>
            
                        <!-- Circle Progress -->
                        <canvas id="circleProgress" width="150" height="150"></canvas>
                        <div class="text-center mt-2">
                            <span class="fw-bold" style="font-size: 1.5rem;">75%</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Card 3 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100 text-dark border-0 shadow-sm">
                    <div class="card-body shadow-lg">
                        <div class="d-flex align-items-start mt-2" >
                            <i class="fa-solid fa-key me-2"></i>
                            <h3 class="card-title fs-5 fw-bold text-center mb-4">Status Berlangganan saat ini :</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
