{% extends 'questify_app/layout/base.html' %}

{% load static %}

{% block page_css %}
  <link rel="stylesheet" href="{% static 'css/langganan.css' %}">
{% endblock %}

{% block title %}Langganan{% endblock %}

{% block content %}

<main class="container content-main mt-5 pt-5 px-5">
  <div class="text-center">
    <h2><strong>🚀 Hallo Pengguna, Terimakasih Telah Bergabung! 🚀</strong></h2>
    <p class="text-muted">Petualangan baru dimulai! Pilih kelas, raih tantangan, dan jadilah yang terbaik! Siap untuk mengasah kemampuanmu?</p>

    <!-- Divider Line -->
    <hr class="my-4">

    <!-- Container untuk membungkus semua kartu (menggunakan Bootstrap) -->
    <section class="container my-4">
      <div class="row justify-content-center card-container">
        {% for kelas in kelas_list %}
        <div class="col-md-4 col-12 mb-4">
          <div class="card-harga card h-100">
            <h2 class="judul-paket"><strong>{{ kelas.nama }}</strong></h2>
            <p class="aktif"><strong>Langganan Aktif</strong></p>
            <img
              src="{% static 'images/unlock.png' %}"
              alt="Gambar Kunci"
              class="img-fluid"
              width="120px"
              height="120px"
            />
            <ul class="fitur">
              <li><strong>{{ kelas.deskripsi }}</strong></li>
              <li><strong>Akses sesuai paket</strong></li>
            </ul>
            <div class="card-body d-flex flex-column justify-content-between">
              <div class="text-center">
                <p class="text-sedang">Langganan Berlaku Hingga</p>
                <p class="text-sedang">25 Oktober 2025</p>
                <a href="{% url 'questify_app:pilihkelas' kelas.id %}" class="btn btn-secondary">Mulai</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
  </div>
</main>

{% endblock %}
