{% extends 'questify_app/layout/base.html' %}
{% load static %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/metpem.css' %}" />
{% endblock %}

{% block title %}Metode Pembayaran{% endblock %}

{% block content %}
<div class="content-main">
  <div class="container-main">
    <h1>Metode Pembayaran</h1>
    <p>Pilih Metode Pembayaran Anda</p>
    <div class="payment-methods">
      <div class="method" onclick="selectMethod('BRI')">
        <img src="{% static 'assets/images/bri.png' %}" alt="Bank BRI" />
      </div>
      <div class="method" onclick="selectMethod('BNI')">
        <img src="{% static 'assets/images/bni.png' %}" alt="Bank BNI" />
      </div>
      <div class="method" onclick="selectMethod('BSI')">
        <img src="{% static 'assets/images/bsi.jpeg' %}" alt="Bank Syariah Indonesia" />
      </div>
    </div>
    <div class="steps-container">
      <div class="step">
        <div class="step-circle active">1</div>
        <p class="step-text">Metode Pembayaran</p>
      </div>
      <div class="step-line"></div>
      <div class="step">
        <div class="step-circle blue">2</div>
        <p class="step-text">Pembelian</p>
      </div>
    </div>

    <button id="continueButton" disabled>Lanjutkan</button>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<script>
  function selectMethod(bankName) {
    alert("Metode pembayaran yang dipilih: " + bankName);
    sessionStorage.setItem("selectedPaymentMethod", bankName); // Store the selected method

    // Enable the continue button
    const continueButton = document.getElementById("continueButton");
    continueButton.disabled = false;
    continueButton.style.opacity = "1";
    continueButton.style.cursor = "pointer";

    // Highlight the selected method
    document.querySelectorAll(".method").forEach((method) => {
      method.style.borderColor = "transparent";
    });
    document.querySelector(
      `.method img[alt='${bankName}']`
    ).parentElement.style.borderColor = "#007bff";
  }

  document
    .getElementById("continueButton")
    .addEventListener("click", function () {
      window.location.href = "payment.html"; // Redirect to payment page
    });
</script>

{% endblock %}
