{% extends 'questify_app/layout/base.html' %}

{% load static %}

{% block page_css %}
  <link rel="stylesheet" href="{% static 'css/pilihkelas.css' %}">
{% endblock %}

{% block title %}Semua Kelas{% endblock %}

{% block content %}

<!-- Main content menggunakan container Bootstrap dan text-center untuk align -->
<main class="container text-center my-5 px-5">
    <h1 style="margin-top: 60px"><strong>Kelas Basic</strong></h1>
    <h2>Ayo selesaikan tantangannya</h2>

    <!-- Kontainer kelas, Section untuk card kelas, menggunakan grid system Bootstrap -->
    <section class="row g-4">
      <!-- Artikel menggunakan col-md-4 dari Bootstrap untuk membagi menjadi 3 kolom pada layar medium ke atas -->
      <article class="col-md-4">
        <a href="{% url 'questify_app:detailkelas' %}" class="text-decoration-none">
          <div class="kelas-card">
            <h2 class="kelas-title">Kelas Basic 1</h2>
            <div class="d-flex justify-content-around">
              <div>
                <img
                  src="{% static 'images/soal.png' %}"
                  alt="Soal"
                  class="icon"
                  style="width: 60px"
                />
                <p class="ikon-deskripsi">10 Soal</p>
              </div>
              <div>
                <img
                  src="{% static 'images/waktu.png' %}"
                  alt="Waktu"
                  class="icon"
                  style="width: 60px"
                />
                <p class="ikon-deskripsi">10 Menit</p>
              </div>
            </div>
            <div class="label-kelas gratis">Gratis</div>
          </div>
        </a>
      </article>

      <article class="col-md-4">
        <a href="{% url 'questify_app:detailkelas' %}" class="text-decoration-none">
          <div class="kelas-card">
            <h2 class="kelas-title">Kelas Basic 2</h2>
            <div class="d-flex justify-content-around">
              <div>
                <img
                  src="{% static 'images/soal.png' %}"
                  alt="Soal"
                  class="icon"
                  style="width: 60px"
                />
                <p class="ikon-deskripsi">10 Soal</p>
              </div>
              <div>
                <img
                  src="{% static 'images/waktu.png' %}"
                  alt="Waktu"
                  class="icon"
                  style="width: 60px"
                />
                <p class="ikon-deskripsi">10 Menit</p>
              </div>
            </div>
            <div class="label-kelas gratis">Gratis</div>
          </div>
        </a>
      </article>

      <article class="col-md-4">
        <a href="{% url 'questify_app:detailkelas' %}" class="text-decoration-none">
          <div class="kelas-card">
            <h2 class="kelas-title">Kelas Basic 3</h2>
            <div class="d-flex justify-content-around">
              <div>
                <img
                  src="{% static 'images/soal.png' %}"
                  alt="Soal"
                  class="icon"
                  style="width: 60px"
                />
                <p class="ikon-deskripsi">10 Soal</p>
              </div>
              <div>
                <img
                  src="{% static 'images/waktu.png' %}"
                  alt="Waktu"
                  class="icon"
                  style="width: 60px"
                />
                <p class="ikon-deskripsi">10 Menit</p>
              </div>
            </div>
            <div class="label-kelas gratis">Gratis</div>
          </div>
        </a>
      </article>

      <article class="col-md-4">
        <a href="{% url 'questify_app:detailkelas' %}" class="text-decoration-none">
          <div class="kelas-card">
            <h2 class="kelas-title">Kelas Basic 4</h2>
            <div class="d-flex justify-content-around">
              <div>
                <img
                  src="{% static 'images/soal.png' %}"
                  alt="Soal"
                  class="icon"
                  style="width: 60px"
                />
                <p class="ikon-deskripsi">10 Soal</p>
              </div>
              <div>
                <img
                  src="{% static 'images/waktu.png' %}"
                  alt="Waktu"
                  class="icon"
                  style="width: 60px"
                />
                <p class="ikon-deskripsi">10 Menit</p>
              </div>
            </div>
            <div class="label-kelas berbayar">Berbayar</div>
          </div>
        </a>
      </article>

      <article class="col-md-4">
        <a href="{% url 'questify_app:detailkelas' %}" class="text-decoration-none">
          <div class="kelas-card">
            <h2 class="kelas-title">Kelas Basic 5</h2>
            <div class="d-flex justify-content-around">
              <div>
                <img
                  src="{% static 'images/soal.png' %}"
                  alt="Soal"
                  class="icon"
                  style="width: 60px"
                />
                <p class="ikon-deskripsi">10 Soal</p>
              </div>
              <div>
                <img
                  src="{% static 'images/waktu.png' %}"
                  alt="Waktu"
                  class="icon"
                  style="width: 60px"
                />
                <p class="ikon-deskripsi">10 Menit</p>
              </div>
            </div>
            <div class="label-kelas berbayar">Berbayar</div>
          </div>
        </a>
      </article>

      <article class="col-md-4">
        <a href="{% url 'questify_app:detailkelas' %}" class="text-decoration-none">
          <div class="kelas-card">
            <h2 class="kelas-title">Kelas Basic 6</h2>
            <div class="d-flex justify-content-around">
              <div>
                <img
                  src="{% static 'images/soal.png' %}"
                  alt="Soal"
                  class="icon"
                  style="width: 60px"
                />
                <p class="ikon-deskripsi">10 Soal</p>
              </div>
              <div>
                <img
                  src="{% static 'images/waktu.png' %}"
                  alt="Waktu"
                  class="icon"
                  style="width: 60px"
                />
                <p class="ikon-deskripsi">10 Menit</p>
              </div>
            </div>
            <div class="label-kelas berbayar">Berbayar</div>
          </div>
        </a>
      </article>
      <article class="col-md-4">
        <a href="{% url 'questify_app:detailkelas' %}" class="text-decoration-none">
          <div class="kelas-card">
            <h2 class="kelas-title">Kelas Basic 6</h2>
            <div class="d-flex justify-content-around">
              <div>
                <img
                  src="{% static 'images/soal.png' %}"
                  alt="Soal"
                  class="icon"
                  style="width: 60px"
                />
                <p class="ikon-deskripsi">10 Soal</p>
              </div>
              <div>
                <img
                  src="{% static 'images/waktu.png' %}"
                  alt="Waktu"
                  class="icon"
                  style="width: 60px"
                />
                <p class="ikon-deskripsi">10 Menit</p>
              </div>
            </div>
            <div class="label-kelas berbayar">Berbayar</div>
          </div>
        </a>
      </article>
    </section>

    <!-- Pagination menggunakan komponen pagination dari Bootstrap -->
    <nav aria-label="Page navigation" class="d-flex content-left mt-4">
      <ul class="pagination">
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
      </ul>
    </nav>
  </main>

{% endblock %}

{% block page_js %}
  <script src="{% static 'js/pilihkelas.js' %}"></script>
{% endblock %}