{% extends 'questify_app/layout/base.html' %}
{% load static %}  

{% block title %}Hasil Nilai{% endblock %} 

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/review.css' %}" />
{% endblock %}

{% block content %}

<main class="container content-main mt-5 pt-5 px-5">
  <div class="result-container">
    <h2 class="final-score">Nilai Akhir : 90</h2>
    <div class="congrats-badge">
        <img src="assets/images/piala.png" alt="Congrats" class="congrats-icon" width="200">
        <p class="pass-message">Selamat, Kamu Lulus</p>
    </div>
    <p class="minimum-score">Nilai Minimal: 70</p>
</div>

<div class="score-info">
    <p class="total-score">Total Terselesaikan: 10</p>
    <p class="time-duration">Durasi Pengerjaan: 00:05:00</p>
</div>

<table class="review-table">
    <thead>
        <tr>
            <th>Pertanyaan</th>
            <th>Jawaban Kamu</th>
            <th>Jawaban Benar</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Lorem ipsum dolor sit amet...</td>
            <td>A</td>
            <td>A</td>
            <td><span class="status-correct">Benar</span></td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor sit amet...</td>
            <td>B</td>
            <td>B</td>
            <td><span class="status-correct">Benar</span></td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor sit amet...</td>
            <td>D</td>
            <td>C</td>
            <td><span class="status-incorrect">Salah</span></td>
        </tr>
        <!-- Tambahkan baris lainnya sesuai kebutuhan -->
    </tbody>
</table> 
</main>

{% endblock %}
