{% extends 'questify_app/layout/base.html' %}

{% block title %}Soal Quiz{% endblock %}

{% block content %}
<main class="container my-5 px-5">
  <section class="card p-4" style="margin-top: 100px">
    <!-- Timer -->
    <div class="d-flex justify-content-end">
      <span id="timer" class="badge bg-warning text-dark p-2">⏲ 10:00</span>
    </div>

    <!-- Soal dan Pilihan -->
    {% if pesan_selesai %}
      <h4>{{ pesan_selesai }}</h4>
      <div class="d-flex justify-content-center mt-4">
        <a class="btn btn-primary" href="{% url 'questify_app:soal' %}">Kembali ke daftar soal</a>
      </div>
    {% else %}
      <form method="POST">
        {% csrf_token %}
        <h4>Soal {{ nomor_soal }}: {{ soal.pertanyaan }}</h4>  <!-- Menampilkan nomor soal -->

        <!-- Pilihan Jawaban -->
        <div class="row my-4">
          <div class="col-6 d-flex justify-content-center">
            <button class="btn btn-outline-secondary w-100" type="submit" name="pilihan_user_{{ soal.id }}" value="A">
              {{ soal.pilihan_a }}
            </button>
          </div>
          <div class="col-6 d-flex justify-content-center">
            <button class="btn btn-outline-secondary w-100" type="submit" name="pilihan_user_{{ soal.id }}" value="B">
              {{ soal.pilihan_b }}
            </button>
          </div>
          <div class="col-6 d-flex justify-content-center mt-3">
            <button class="btn btn-outline-secondary w-100" type="submit" name="pilihan_user_{{ soal.id }}" value="C">
              {{ soal.pilihan_c }}
            </button>
          </div>
          <div class="col-6 d-flex justify-content-center mt-3">
            <button class="btn btn-outline-secondary w-100" type="submit" name="pilihan_user_{{ soal.id }}" value="D">
              {{ soal.pilihan_d }}
            </button>
          </div>
        </div>
      </form>
    {% endif %}
  </section>
</main>

<script>
  // Atur durasi timer total (dalam detik)
  var totalDuration = 600; // 10 menit
  var timerDisplay = document.getElementById('timer');
  var countdown;

  // Fungsi untuk memulai timer
  function startTimer() {
    countdown = setInterval(function() {
      var minutes = Math.floor(totalDuration / 60);
      var seconds = totalDuration % 60;

      // Format waktu untuk selalu menunjukkan dua digit
      timerDisplay.textContent = '⏲ ' + (minutes < 10 ? '0' + minutes : minutes) + ':' + (seconds < 10 ? '0' + seconds : seconds);

      // Kurangi timer 1 detik
      totalDuration--;

      if (totalDuration < 0) {
        clearInterval(countdown);
        // Kirim form secara otomatis saat waktu habis
        document.querySelector('form').submit();
      }
    }, 1000);
  }

  // Panggil startTimer saat kuis dimulai
  startTimer();
</script>
{% endblock %}
