{% extends 'questify_app/layout/base.html' %} 
{% load static %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/userprofile.css' %}" />
<style>
  .btn-small {
    padding: 5px 12px;
    font-size: 14px;
    border: none;
    background-color: #a27bf8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-small:hover {
    background-color: #986df7;
  }
</style>
{% endblock %}

{% block title %}User Profile{% endblock %}

{% block content %}
<main class="container content-main mt-5 pt-5 px-5">
  <div class="row justify-content-center">
    <div class="col-md-12 mb-5">
      <section class="card" style="margin-top: 50px">
        <div class="card-body">
          <section>
            <ul class="nav nav-tabs justify-content-between align-items-center" style="background-color: #9575cd; padding: 10px; border-radius: 10px;">
              <li class="nav-item">
                <a class="nav-link text-white {% if request.resolver_match.url_name == 'userprofile' %}active{% endif %}" href="{% url 'questify_app:userprofile' %}" style="font-weight: bold">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white {% if request.resolver_match.url_name == 'daftartransaksi' %}active{% endif %}" href="{% url 'questify_app:daftartransaksi' %}" style="font-weight: bold">Daftar Transaksi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'account_logout' %}" style="font-weight: bold">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
              </li>
            </ul>
          </section>

          <section>
            <div class="row mt-4 justify-content-center">
              <div class="col-md-8 mx-auto">
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="row mb-3">
                    <div class="col">
                      <label for="first-name" class="form-label">Nama Depan</label>
                      <input type="text" class="form-control" id="first-name" value="{{ form.first_name.value|default:user.first_name }}" name="first_name" />
                    </div>
                    <div class="col">
                      <label for="last-name" class="form-label">Nama Belakang</label>
                      <input type="text" class="form-control" id="last-name" value="{{ form.last_name.value|default:user.last_name }}" name="last_name" />
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" value="{{ form.email.value|default:user.email }}" name="email" />
                  </div>
                  <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" value="{{ form.username.value|default:user.username }}" name="username" />
                  </div>

                  <div class="mb-3">
                    <label for="profileUpload" class="form-label">Foto Profil</label>
                    <input class="form-control" type="file" id="profileUpload" accept="image/*" onchange="loadFile(event)" name="profile_picture" />
                  </div>
                  <button type="submit" class="btn btn-primary">Save</button>
                </form>
              </div>
              <div class="col-md-4 d-flex flex-column align-items-center">
                <img
                  id="output"
                  src=""
                  alt="Profile Picture"
                  class="rounded-circle img-fluid"
                  style="width: 150px; height: 150px"
                />
              </div>
            </div>
          </section>

          <div class="mt-2">
            <a href="{% url 'account_change_password' %}" class="btn-small" style="margin-right: 5px;">
                <b>Ganti Password</b>
            </a>
            <a href="{% url 'account_email' %}" class="btn-small">
                <b>Ganti Email</b>
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
{% endblock %}
