{% extends "account/base_entrance.html" %}
{% load i18n allauth account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100 pt-5 px-5">
    <div class="card text-center" style="max-width: 500px; width: 100%; margin-top: 50px; margin-bottom: 50px;">
        <div class="card-body d-flex flex-column align-items-center justify-content-center">
            <h1 class="card-title text-center mt-2">
                <b>{% trans "Password Reset" %}</b>
            </h1>

            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p class="text-center mt-3">
                {% blocktrans %}
                    We have sent you an email. If you have not received it, please check your spam folder. Otherwise, contact us if you do not receive it in a few minutes.
                {% endblocktrans %}
            </p>
        </div>
    </div>
</div>
{% endblock content %}
