{% extends "questify_app/layout/base.html" %}
{% load i18n %}
{% load allauth %}

{% block title %}Reset Password{% endblock %}

{% block head_title %}
    {% trans "Set Password" %}
{% endblock head_title %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center min-vh-100 pt-5 px-5">
        <div class="card" style="max-width: 900px; width: 100%; margin-top: 25px;">
            <div class="card-body justify-content-center ">
                <!-- Tombol Kembali -->
                <a href="{% url 'questify_app:userprofile' %}" class="btn btn-outline-primary mb-3 " style="align-self: flex-start;">
                    Kembali
                </a>
                <h1 class="card-title text-center mt-2">
                    <b>{% trans "Ubah Password" %}</b>
                </h1>

                {% url 'account_set_password' as action_url %}
                
                <!-- Form Start -->
                <form method="post" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ redirect_field }}
                    
                    <!-- Fields of the form -->
                    {{ form.as_p }}
                    
                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary btn-block" style="background-color: #6f4dbf;">
                        {% trans "Simpan" %}
                    </button>
                </form>
                <!-- Form End -->

                <div class="text-center" >
                    <strong class="mb-3" >{% trans "Menu:" %}</strong>
                </div>
                <div class="d-flex justify-content-center flex-wrap mt-3 mb-3 gap-2">
                    {% if user.is_authenticated %}
                        {% url 'account_email' as email_url_ %}
                        {% if email_url_ %}
                            <a href="{{ email_url_ }}" class="btn btn-sm" style="color: #5b3e9f; background-color: #e6def8; padding: 5px 15px;">
                                {% trans "Ubah Email" %}
                            </a>
                        {% endif %}
                        
                        {% url 'account_change_password' as change_password_url_ %}
                        {% if change_password_url_ %}
                            <a href="{{ change_password_url_ }}" class="btn btn-sm" style="color: #5b3e9f; background-color: #e6def8; padding: 5px 15px;">
                                {% trans "Ubah Password" %}
                            </a>     
                        {% endif %}
                    
                        
                        {% url 'account_logout' as logout_url_ %}
                        {% if logout_url_ %}
                            <a href="{{ logout_url_ }}" class="btn btn-sm" style="color: #5b3e9f; background-color: #e6def8; padding: 5px 15px;">
                                {% trans "Log Out" %}
                            </a>
                        {% endif %}
                    {% else %}
                        
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
