{% extends "questify_app/layout/base.html" %}
{% load i18n %}
{% load allauth %}

{% block title %}Reset Password{% endblock %}

{% block head_title %}
    {% trans "Set Password" %}
{% endblock head_title %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center min-vh-100 pt-5">
        <div class="card" style="max-width: 900px; width: 100%; margin-top: 50px;">
            <div class="card-body">
                <h1 class="card-title text-center">
                    {% trans "Set Password" %}
                </h1>
                {% url 'account_set_password' as action_url %}
                
                <!-- Form Start -->
                <form method="post" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ redirect_field }}
                    
                    <!-- Fields of the form -->
                    {{ form.as_p }}
                    
                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary btn-block" style="background-color: #6f4dbf;">
                        {% trans "Set Password" %}
                    </button>
                </form>
                <!-- Form End -->

            </div>
        </div>
    </div>
{% endblock content %}
