{% extends "questify_app/layout/base.html" %}
{% load i18n %}
{% load allauth %}

{% block title %}Change Password{% endblock %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center min-vh-100 pt-5 px-5">
        <div class="card" style="max-width: 700px; width: 100%; margin-top: 50px; margin-bottom: 50px;">
            <div class="card-body">

                <h1 class="card-title text-center mt-2">
                    <b>{% trans "Change Password" %}</b>
                </h1>

                {% url 'account_change_password' as action_url %}

                <!-- Form Start -->
                <form method="post" action="{{ action_url }}" class="d-flex flex-column align-items-center">
                    {% csrf_token %}
                    {{ redirect_field }}
                    
                    <!-- Fields of the form -->
                    <div class="mb-3 w-100">
                        {{ form.as_p }}
                    </div>

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary" style="background-color: #6f4dbf; width: 200px;">
                        {% trans "Change Password" %}
                    </button>
                </form>
                <!-- Form End -->

                <div class="text-center mt-3">
                    <a href="{% url 'account_reset_password' %}" style="color: #6f4dbf;">
                        {% trans "Forgot Password?" %}
                    </a>
                </div>

                <div class="text-center mt-3">
                    <strong>{% trans "Menu:" %}</strong>
                </div>
                <div class="d-flex justify-content-center flex-wrap mt-3 gap-2">
                    {% if user.is_authenticated %}
                        {% url 'account_email' as email_url_ %}
                        {% if email_url_ %}
                            <a href="{{ email_url_ }}" class="btn btn-sm" style="color: #5b3e9f; background-color: #e6def8; padding: 5px 15px;">
                                {% trans "Change Email" %}
                            </a>
                        {% endif %}
                        
                        {% url 'account_change_password' as change_password_url_ %}
                        {% if change_password_url_ %}
                            <a href="{{ change_password_url_ }}" class="btn btn-sm" style="color: #5b3e9f; background-color: #e6def8; padding: 5px 15px;">
                                {% trans "Change Password" %}
                            </a>     
                        {% endif %}

                        
                        {% url 'account_logout' as logout_url_ %}
                        {% if logout_url_ %}
                            <a href="{{ logout_url_ }}" class="btn btn-sm" style="color: #5b3e9f; background-color: #e6def8; padding: 5px 15px;">
                                {% trans "Sign Out" %}
                            </a>
                        {% endif %}
                    {% else %}
                        
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
