<!-- Header -->
{% load static %}

<style>
  .nav-link.active {
      color: #ed80fd !important;
  }
</style>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light position-fixed">
      <div class="container-fluid">
        <!-- Logo and Questify Text -->
        <a
          class="navbar-brand d-flex align-items-center fs-0 fw-bold"
          href="{% url 'questify_app:home' %}"
        >
          Questify
          <img
            src="{% static 'images/arcticons--flixquest.png' %}"
            alt="logo"
            class="ms-2"
            width="30"
            height="30"
          />
        </a>

        <!-- Toggler for mobile view -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar items -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto me-auto mb-2 mb-lg-0">
            <li class="nav-item mx-3">
              <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'questify_app:home' %}">Home</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link {% if request.resolver_match.url_name == 'semuakelas' %}active{% endif %}" href="{% url 'questify_app:semuakelas' %}">Semua Kelas</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link {% if request.resolver_match.url_name == 'langganan' %}active{% endif %}" href="{% url 'questify_app:langganan' %}">Langganan</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link {% if request.resolver_match.url_name == 'hasilnilai' %}active{% endif %}" href="{% url 'questify_app:hasilnilai' %}">Hasil Nilai</a>
            </li>
          </ul>

          <!-- Bahasa and Masuk for desktop view -->
          <div class="d-none d-lg-flex align-items-center">
            <a href="{% url 'questify_app:userprofile' %}">
              <img
                src="{% if user.profile.profile_picture %}{{ user.profile.profile_picture.url }}{% else %}{% static 'images/profil.png' %}{% endif %}"
                alt="profile"
                class="profile-pic"
              />
            </a>
          </div>

          <!-- Dropdown for mobile view -->
          <ul class="navbar-nav d-lg-none">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Lainnya
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a
                    class="dropdown-item btn btn-outline-primary"
                    href="{% url 'questify_app:userprofile' %}"
                    >Profile</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>