
.container2 {
    max-width: 100%;
    width: 90%; /* Sesuaikan dengan layar */
    margin: 100px auto 50px; /* Pastikan margin sesuai dengan layar */
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.container2 .title {
    display: flex;
    align-items: center;
    background-color: #E0F0FF;
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container2 .title i {
    margin-right: 10px; /* Menambahkan jarak antara ikon dan teks */
    font-size: 30px; 
    color: #080808; 
}

.container2 .content {
    margin-top: 20px;
    background-color: #E0F0FF;
    padding: 20px;
    border-radius: 10px;
}

.container2 .content .section {
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    padding: 5px 0; 
}

.container2 .content .section .label .periode {
    font-size: 12px;          
    color: #666;              
    font-weight: 400;         
    margin-top: 4px;          
}

.container2 .content .section:last-child {
    margin-bottom: 0;
}

.container2 .content .section .label {
    font-weight: 600;
    margin-bottom: 10px;
}

.container2 .content .section .value {
    font-weight: 700;
    text-align: right;
}

.container2 .content .section.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff; 
    font-weight: 700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 8px; 
}
.container2 .content .section .value.total {
    color: #3B82F6;
}

/* Footer Container */
.checkout-footer {
    display: flex;
    justify-content: space-between; /* Untuk menempatkan steps dan button di ujung masing-masing */
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;
    border-top: 1px solid #E0E0E0;
    border-radius: 0 0 10px 10px;
    text-align: center;      
}

.checkout-footer .steps {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 40px;
    flex-grow: 1; /* Menggunakan seluruh ruang di antara tombol checkout dan steps */
}

.checkout-footer .steps .step {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
}

/* Lingkaran pada langkah checkout */
.checkout-footer .steps .step .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff; 
    color: #0b0b0b; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 2px solid #3B82F6;
    transition: background-color 0.3s ease; /* Animasi halus saat berubah warna */
}

/* Mengubah warna lingkaran menjadi biru saat cursor diarahkan */
.checkout-footer .steps .step .circle:hover {
    background-color: #3B82F6; 
    color: #ffffff; 
}


.checkout-footer .steps .step .label {
    font-weight: 600;
    font-size: 14px;
    color: #333;
}

.checkout-footer .checkout {
    background-color: #8B5CF6;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

/* CSS untuk Footer */

/* Konten footer */
