
h1,
h2 {
  color: #333;
  text-align: center;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
  margin-bottom: 50px;
}

.kelas-card {
  background: linear-gradient(180deg, #e9e6f1, #9675d3);
  border: none;
  border-radius: 10px;
  padding: 20px;
  color: white;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
}

.kelas-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.kelas-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.kelas-subtitle {
  font-size: 18px;
  font-weight: bold;
}

.label-kelas {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
}

.gratis {
  background-color: yellow;
  color: black;
}

.berbayar {
  background-color: green;
}

/* Styling untuk pagination */
.pagination {
  justify-content: center;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination .page-item {
  margin: 0 5px;
}

.pagination .page-link {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination .page-item.active .page-link {
  background-color: #6f4dbf;
  color: white;
}

.pagination .page-item.disabled .page-link {
  background-color: #e9e9e9;
  color: #ccc;
  cursor: not-allowed;
}