
.form-control {
    border: 2px solid #d37ebe;
    border-radius: 5px;
}

.form-label {
    font-weight: 600;
    color: #563d7c;
}

#output {
    border: 5px solid #745bb9;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

#output {
    border: 5px solid #745bb9; 
    width: 180px; 
    height: 180px;
    object-fit: cover;
    margin-bottom: 20px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

.btn-primary {
    background-color: #745bb9;
    border: none;
    font-weight: bold;
    padding: 10px 200px;
    border-radius: 30px;
    transition: background-color 0.3s;
    width: 100%; 
    /* max-width: 100px;  */
    margin: 20px auto; 
    display: block; 
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-item .nav-link {
    background-color: #9575cd;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: #ffffff;
    color: white;
    border: none;
}

.nav-tabs .nav-item .nav-link:hover {
    background-color: #745bb9;
    color: white;
}

.nav-tabs .nav-item .nav-link .fas {
    margin-right: 5px;
}


.btn-primary:hover {
    background-color: #563d7c; 
}